In [2]:
import pandas as pd

data = pd.read_csv('/Users/xiangshiyin/Library/CloudStorage/GoogleDrive-xiangshiyin@gmail.com/My Drive/teaching/gsu/2025-spring/data/dcr.csv')

In [3]:
data.shape

(62178, 28)

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
data.head(3)

,id,time,orig_time,first_time,mat_time,res_time,balance_time,LTV_time,interest_rate_time,rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,REtype_SF_orig_time,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time,lgd_time,recovery_res
0,4,25,-2,25,119,NaN,61031.10,33.911009,10.5,5.9,226.29,2.899137,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
1,4,26,-2,25,119,NaN,60882.42,34.007232,10.5,5.9,225.10,2.151365,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
2,4,27,-2,25,119,NaN,60729.80,34.335349,10.5,5.9,222.39,2.361722,4.4,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN

In [7]:
data.default_time.value_counts()

default_time
0    60653
1     1525
Name: count, dtype: int64

In [8]:
data.payoff_time.value_counts()

payoff_time
0    59553
1     2625
Name: count, dtype: int64

In [10]:
data.time.value_counts()

time
30    2605
31    2506
29    2502
32    2402
28    2368
33    2228
27    2165
34    2039
26    1977
35    1946
25    1924
36    1822
37    1683
24    1593
38    1561
39    1461
40    1392
23    1384
41    1320
22    1298
42    1267
43    1218
44    1161
45    1118
21    1107
46    1066
52    1029
47    1025
53     999
48     985
54     965
49     953
55     934
50     917
20     913
51     911
56     903
57     894
58     875
59     854
60     829
19     701
18     535
17     323
16     205
15     131
14     118
13     112
12     104
6       99
3       96
5       93
4       92
7       89
9       80
11      79
8       77
10      73
2       51
1       21
Name: count, dtype: int64