In [2]:
import pandas as pd

data = pd.read_csv('/Users/xiangshiyin/Library/CloudStorage/GoogleDrive-xiangshiyin@gmail.com/My Drive/teaching/gsu/2025-spring/data/dcr.csv')

In [3]:
data.shape

(62178, 28)

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
data.head(3)

,id,time,orig_time,first_time,mat_time,res_time,balance_time,LTV_time,interest_rate_time,rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,REtype_SF_orig_time,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time,lgd_time,recovery_res
0,4,25,-2,25,119,NaN,61031.10,33.911009,10.5,5.9,226.29,2.899137,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
1,4,26,-2,25,119,NaN,60882.42,34.007232,10.5,5.9,225.10,2.151365,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
2,4,27,-2,25,119,NaN,60729.80,34.335349,10.5,5.9,222.39,2.361722,4.4,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN

In [7]:
data.default_time.value_counts()

default_time
0    60653
1     1525
Name: count, dtype: int64

In [8]:
data.payoff_time.value_counts()

payoff_time
0    59553
1     2625
Name: count, dtype: int64

In [11]:
## lending club data

data2 = pd.read_csv('~/Downloads/rejected_2007_to_2018Q4.csv', low_memory=True)

In [12]:
data.shape

(62178, 28)

In [13]:
data.head(3)

,id,time,orig_time,first_time,mat_time,res_time,balance_time,LTV_time,interest_rate_time,rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,REtype_SF_orig_time,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time,lgd_time,recovery_res
0,4,25,-2,25,119,NaN,61031.10,33.911009,10.5,5.9,226.29,2.899137,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
1,4,26,-2,25,119,NaN,60882.42,34.007232,10.5,5.9,225.10,2.151365,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
2,4,27,-2,25,119,NaN,60729.80,34.335349,10.5,5.9,222.39,2.361722,4.4,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN

In [14]:
data3 = pd.read_csv('~/Downloads/accepted_2007_to_2018Q4.csv', low_memory=True)

/var/folders/78/njcscll93_s6cc27zw_h0pmr0000gn/T/ipykernel_89481/3936004733.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv('~/Downloads/accepted_2007_to_2018Q4.csv', low_memory=True)

In [15]:
data3.shape

(2260701, 151)

In [18]:
# for col in data3.columns:
#     print(col)

data3.loan_status.value_counts()

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64